# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# PyTest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Système
desktop.ini
.DS_Store
Thumbs.db

# Documents Word (rapport - livrable séparé)
*.docx
~$*.docx